@using Microsoft.Owin.Security.DataHandler.Encoder
@using Newtonsoft.Json
@model  List<BattleShip.Domain.GameHistory>
@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/NoMoreTables.css"/>
@section scripts{
    <script type="text/javascript">
        var model = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model))');
        </script>
<script type="text/javascript" src="~/Scripts/d3.js"></script>
<script type="text/javascript" src="~/Scripts/linq.js"></script>
<script src="~/Scripts/Data.js"></script>

}

<div class="jumbotron">
    <h1>BattleShip!!</h1>
    <p class="lead">Franco Testori - Tomás Vilaboa</p>
    <p><a href="https://github.com/TVilaboa/BattleShip" class="btn confirmar btn-lg">Repository &raquo;</a></p>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        @Html.ActionLink("Play", "Game", "Game", new {}, new {@class = "btn btn-default  confirmar center-block" })
    </div>

  
</div>


<div id="bubbleChart"></div>

<div class="container">
    <div class="row">
        <div class="noTable">
            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                <thead class="cf">
                    <tr>
                        <th>Enemy</th>
                        <th>Result</th>
                        <th>Date</th>
                        <th>Efficiency</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td data-title="Enemy">@item.EnemyUserName</td>
                            <td data-title="Result">
                               @item.Status
                            </td>
                            <td data-title="Date">
                                @item.Ended
                            </td>
                            <td data-title="Efficiency">
                                @if (item.Hitted != 0 && item.Missed != 0)
                                {
                                    @($"{((item.Hitted/(float) (item.Hitted + item.Missed))*100):0.##\\%}")
                                }
                                else
                                {<text>NaN</text>
                                }

                            </td>
                            <td data-title="Duration">
                                @item.Duration (mins)
                            </td>

                        </tr>


                    }


                </tbody>
            </table>
        </div>
    </div>

</div>

